{% extends 'base.html' %}

{% block title %}
  <div class="flex items-start justify-between">
    <h3 class="text-2xl font-bolder">Client Form</h3>
  </div>
{% endblock title %}

{% block content %}
  <div class="mt-5 md:mt-0 md:col-span-2">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6">
                <label for="cid" class="block text-sm font-medium text-gray-700">Client ID</label>
                <input type="text" name="cid" id="cid" value="{{ client.cid }}" autocomplete="cid" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              </div>
              <div class="col-span-3">
                <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
                <input type="text" name="first_name" value="{{ client.first_name}}" id="first-name" autocomplete="given-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              </div>

              <div class="col-span-3">
                <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                <input type="text" name="last_name" value="{{ client.last_name}}" id="last-name" autocomplete="family-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              </div>

              <div class="col-span-3">
                <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                <input type="text" name="email" id="email-address" value="{{ client.email}}" autocomplete="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              </div>
              <div class="col-span-3">
                <label for="phone" class="block text-sm font-medium text-gray-700">Phone</label>
                <input type="text" name="phone" value="{{ client.phone}}" id="phone" autocomplete="family-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
              </div>

              <div class="col-span-6">
                <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                <select id="country" name="country_code" value="{{ client.country_code}}" autocomplete="country-name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
                  <option>United States</option>
                  <option>Canada</option>
                  <option>Mexico</option>
                </select>
              </div>

              <div class="col-span-6">
                <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                <textarea name="address" id="address" autocomplete="address" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" cols="3" rows="3">
                  {{ client.address}}
                </textarea>
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 flex justify-between sm:px-6">
            <button type="button" class="inline-flex justify-center py-2 px-4 border-2 border-solid shadow-sm text-sm font-medium rounded-md text-gray-700 bg-gray-200 hover:bg-gray-700 hover:text-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" onclick="window.location='{% url 'clients:client_list' %}'; return false;">Cancel</button>
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">Save</button>
          </div>
        </div>
      </form>
    </div>
{% endblock content %}